/* STYLES FOR THE TEAM PAGE */

.authors .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .authors h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .authors .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */

  .d-block {
    display: block!important;
}

.link-dark {
  color: #212529;
}

.text-decoration-none {
  text-decoration: none!important;
}

.dropdown-toggle {
  outline: 0;
}